.git
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
*.pyc
.venv
venv
htmlcov
.coverage
data/
*.egg-info
dist
build
runtime/
modules/gpt_sovits/GPT_SoVITS/pretrained_models/
modules/gpt_sovits/GPT_weights_v2/
modules/gpt_sovits/*.log
*.wav
.env
project_config.yaml
modules/openmanus/logs
