# Set default behavior to automatically normalize line endings.
* text=auto
# Ignore environment files in exports
.env export-ignore
/data export-ignore
/modules/__pycache__/ export-ignore
__pycache__ export-ignore
modules/gpt_sovits/**/*.bin filter=lfs diff=lfs merge=lfs -text
modules/gpt_sovits/**/*.ckpt filter=lfs diff=lfs merge=lfs -text
modules/gpt_sovits/**/*.pth filter=lfs diff=lfs merge=lfs -text
modules/gpt_sovits/**/*.onnx filter=lfs diff=lfs merge=lfs -text
modules/gpt_sovits/**/*.zip filter=lfs diff=lfs merge=lfs -text
modules/gpt_sovits/**/*.pt filter=lfs diff=lfs merge=lfs -text
