# Set default behavior to automatically normalize line endings.
* text=auto

# Ignore environment files in exports
.env export-ignore
*.wav export-ignore
/data export-ignore
__pycache__ export-ignore
chroma_db/ export-ignore